body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png");
  background-position: center;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.pikachu{
  border: 1px dotted green;
  position: absolute;
  content: url('pikachuSurprise.png');
  content-size:

}

.bobble{
  border: 20px solid pink;
  position: absolute;
  border-radius: 60px;
}